

.banner-container {
    position: relative;
    background-image: url('https://i.ibb.co/2SjJgLj/gradient-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px; 
  }

  
  .banner-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.562);}